{% extends 'base_dash.html' %}

{% block content %}

<!-- 본문 -->
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-5">
            <h1 class="mt-4 pt-5">소매 _ {{ region }}</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">&nbsp;{{ category }} - {{ key_produce }}</li>
            </ol>
            <div class="container-fluid px-5">
                <div class="section ">
                    <div class="section over-hide z-bigger">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                </div>
                                <div class="col-12">
                                    <form id="choice" method="post">
                                        {% for k,v in radio_check.items() %}
                                        <input class="checkbox-tools" {{ v }} type="radio" name="myRadios"
                                               onclick="document.getElementById('choice').submit();"
                                               value="{{ region }}_{{ category }}_{{ k }}"
                                               id="tool-{{ loop.index }}">
                                        <label class="for-checkbox-tools" for="tool-{{ loop.index }}">
                                            {% if 'checked' in v %}
                                            <i class='uil uil-pricetag-alt'></i>{{ k }}</label>
                                        {% else %}
                                        <i class='uil uil-ellipsis-h'></i>{{ k }}</label>
                                        {% endif %}
                                        {% endfor %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 전통시장 -->
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <svg class="svg-inline--fa fa-chart-area me-1" aria-hidden="true" focusable="false"
                                     data-prefix="fas" data-icon="chart-area" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M64 400C64 408.8 71.16 416 80 416H480C497.7 416 512 430.3 512 448C512 465.7 497.7 480 480 480H80C35.82 480 0 444.2 0 400V64C0 46.33 14.33 32 32 32C49.67 32 64 46.33 64 64V400zM128 320V236C128 228.3 130.8 220.8 135.9 214.1L215.3 124.2C228.3 109.4 251.4 109.7 263.1 124.8L303.2 171.8C312.2 182.7 328.6 183.4 338.6 173.4L359.6 152.4C372.7 139.3 394.4 140.1 406.5 154.2L472.3 231C477.3 236.8 480 244.2 480 251.8V320C480 337.7 465.7 352 448 352H159.1C142.3 352 127.1 337.7 127.1 320L128 320z"></path>
                                </svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                                전통시장 주간 가격 동향
                            </div>
                            <div class="card-body">
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div>
                                <canvas id="chart1" width="486" height="194"
                                        style="display: block; width: 486px; height: 194px;"
                                        class="chartjs-render-monitor"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- 대형마트 -->
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <svg class="svg-inline--fa fa-chart-bar me-1" aria-hidden="true" focusable="false"
                                     data-prefix="fas" data-icon="chart-bar" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M32 32C49.67 32 64 46.33 64 64V400C64 408.8 71.16 416 80 416H480C497.7 416 512 430.3 512 448C512 465.7 497.7 480 480 480H80C35.82 480 0 444.2 0 400V64C0 46.33 14.33 32 32 32zM128 128C128 110.3 142.3 96 160 96H352C369.7 96 384 110.3 384 128C384 145.7 369.7 160 352 160H160C142.3 160 128 145.7 128 128zM288 192C305.7 192 320 206.3 320 224C320 241.7 305.7 256 288 256H160C142.3 256 128 241.7 128 224C128 206.3 142.3 192 160 192H288zM416 288C433.7 288 448 302.3 448 320C448 337.7 433.7 352 416 352H160C142.3 352 128 337.7 128 320C128 302.3 142.3 288 160 288H416z"></path>
                                </svg><!-- <i class="fas fa-chart-bar me-1"></i> Font Awesome fontawesome.com -->
                                대형마트 주간 가격 동향
                            </div>
                            <div class="card-body">
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div>
                                <canvas id="chart2" width="486" height="194" class="chartjs-render-monitor"
                                        style="display: block; width: 486px; height: 194px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 1년 소매 가격 정보 -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card mb-3">
                            <div class="card-header">
                                <svg class="svg-inline--fa fa-chart-area me-1" aria-hidden="true" focusable="false"
                                     data-prefix="fas" data-icon="chart-area" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M64 400C64 408.8 71.16 416 80 416H480C497.7 416 512 430.3 512 448C512 465.7 497.7 480 480 480H80C35.82 480 0 444.2 0 400V64C0 46.33 14.33 32 32 32C49.67 32 64 46.33 64 64V400zM128 320V236C128 228.3 130.8 220.8 135.9 214.1L215.3 124.2C228.3 109.4 251.4 109.7 263.1 124.8L303.2 171.8C312.2 182.7 328.6 183.4 338.6 173.4L359.6 152.4C372.7 139.3 394.4 140.1 406.5 154.2L472.3 231C477.3 236.8 480 244.2 480 251.8V320C480 337.7 465.7 352 448 352H159.1C142.3 352 127.1 337.7 127.1 320L128 320z"></path>
                                </svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
                                최근 1년 가격&물량 변동
                            </div>
                            <div class="card-body">
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div>
                                <canvas id="chart3" width="486" height="194"
                                        style="display: block; width: 486px; height: 194px;"
                                        class="chartjs-render-monitor"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright © Your Website 2022</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    ·
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- chart1: 시장 -->
<script>
    var data1 = {
        labels: [ {% for i in date %} '{{ i }}', {% endfor %} ],
        datasets: [{
            type: 'line',
            label: '{{ region }}',
            yAxisID: 'A',
            borderColor: '#ffbaa2',
            backgroundColor: 'white',
            pointStyle: 'rectRot',
            pointRadius: 6,
            pointHoverRadius: 8,
            data: {{ result_t }},
            fill: false
        }, {
            label: '전체(평균)',
            borderColor: 'rgba(0,255,0,0.5)',
            backgroundColor: 'white',
            pointStyle: 'rectRot',
            pointRadius: 6,
            pointHoverRadius: 8,
            data: {{ result_t_total }},
            fill: false
        }, {
            label: '예측값(최소)',
            borderColor: 'rgba(255,0,0,0.3)',
            backgroundColor: 'white',
            pointStyle: 'rectRot',
            pointRadius: 6,
            pointHoverRadius: 8,
            data: [,,,,,,,,,, {% for i in yhat_l_T %} '{{ i }}', {% endfor %} ],
            fill: false
        }, {
            label: '예측값(최대)',
            borderColor: 'rgba(255,0,0,0.3)',
            backgroundColor: 'white',
            pointStyle: 'rectRot',
            pointRadius: 6,
            pointHoverRadius: 8,
            data: [,,,,,,,,,, {% for i in yhat_u_T %} '{{ i }}', {% endfor %} ],
            fill: false
        }]
    };
    var chart = new Chart('chart1', {
        type: 'line',
        data: data1,
        options: {
            scales: {
                yAxes: [{
                    id: 'A',
                    type: 'linear',
                    position: 'left',
                    ticks: {
                        fontColor: '#ffbaa2',
                        callback: function(value, index, values) { return value + ' 원'; }
                    }
                }]
            },
            plugins: {
                annotation: {
                    annotations: [{
                        type: 'line',
                        mode: 'vertical',
                        scaleID: 'A',
                        value: 800,
                        borderColor: 'red',
                        borderWidth: 4,
                        label: {
                            content: 'TODAY',
                            enabled: false,
                            position: 'top'
                        }
                    }]
                }
            }
        }
    });

</script>

<!-- chart2: 마트 -->
<script>
    var data2 = {
        labels: [ {% for i in date %} '{{ i }}', {% endfor %} ],
        datasets: [{
            type: 'line',
            label: '{{ region }}',
            yAxisID: 'A',
            borderColor: '#ffbaa2',
            backgroundColor: 'white',
            pointStyle: 'rectRot',
            pointRadius: 6,
            pointHoverRadius: 8,
            data: {{ result_m }},
            fill: false
        }, {
            label: '전체(평균)',
            borderColor: 'rgba(0,255,0,0.5)',
            backgroundColor: 'white',
            pointStyle: 'rectRot',
            pointRadius: 6,
            pointHoverRadius: 8,
            data: {{ result_m_total }},
            fill: false
        }, {
            label: '예측값(최소)',
            borderColor: 'rgba(255,0,0,0.3)',
            backgroundColor: 'white',
            pointStyle: 'rectRot',
            pointRadius: 6,
            pointHoverRadius: 8,
            data: [,,,,,,,,,, {% for i in yhat_l_M %} '{{ i }}', {% endfor %} ],
            fill: false
        }, {
            label: '예측값(최대)',
            borderColor: 'rgba(255,0,0,0.3)',
            backgroundColor: 'white',
            pointStyle: 'rectRot',
            pointRadius: 6,
            pointHoverRadius: 8,
            data: [,,,,,,,,,, {% for i in yhat_u_M %} '{{ i }}', {% endfor %} ],
            fill: false
        }]
    }
    var chart = new Chart('chart2', {
        type: 'line',
        data: data2,
        options: {
            scales: {
                yAxes: [{
                    id: 'A',
                    type: 'linear',
                    position: 'left',
                    ticks: {
                        fontColor: '#ffbaa2',
                        callback: function(value, index, values) { return value + ' 원'; }
                    }
                }]
            }
        }
    });

</script>

<!-- chart3: 1년 -->
<script>
    var data3 = {
        labels: [ {% for i in month_List %} '{{ i }}', {% endfor %} ],
        datasets: [{
            label: '대형유통 가격(원)',
            yAxisID: 'A',
            borderColor: '#ffbaa2',
            backgroundColor: 'white',
            pointStyle: 'rectRot',
            pointRadius: 6,
            pointHoverRadius: 8,
            data: {{ month_price_T }},
            fill: false
        }, {
            label: '전통시장 가격(원)',
            borderColor: '#91cf96',
            backgroundColor: 'white',
            pointStyle: 'rectRot',
            pointRadius: 6,
            pointHoverRadius: 8,
            data: {{ month_price_M }},
            fill: false
        }]
    }
    var chart = new Chart('chart3', {
        type: 'line',
        data: data3,
        options: {
            scales: {
                yAxes: [{
                    id: 'A',
                    type: 'linear',
                    position: 'left',
                    ticks: {
                        fontColor: '#ffbaa2',
                        callback: function(value, index, values) { return value + ' 원'; }
                    }
                }]
            }
        }
    });

</script>

{% endblock %}