{% extends 'base.html' %}

{% block content %}

<div class="container">
  <h5 class="my-3 border-bottom pb-2">계정생성</h5>
  <form method="post">
    {{ form.csrf_token }}
    <div class="mb-3">
      {{ form.userid.label }}
      {{ form.userid() }}
    </div>
    <div class="mb-3">
      {{ form.userpw1.label }}
      {{ form.userpw1() }}
    </div>
    <div class="mb-3">
      {{ form.userpw2.label }}
      {{ form.userpw2() }}
    </div>
    <div class="mb-3">
      {{ form.name.label }}
      {{ form.name() }}
    </div>
    <div class="mb-3">
      {{ form.email.label }}
      {{ form.email() }}
    </div>
    <div class="mb-3">
      {{ form.phone.label }}
      {{ form.phone() }}
    </div>
      <button type="submit" class="btn btn-primary">회원가입</button>
  </form>
</div>

{% endblock %}