{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href=" {{ url_for('static', filename='style.css')}} ">

<body class="text-center pt-5">
<main class="container pt-5">
    <form id="contactForm" method="post" class="pt-5" action="{{ url_for('main.change')}}">
        <img class="mb-4" src="static/img/id.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">변경할 정보를 입력해주세요.</h1>
        <br>
        <div class="form-floating" style="width: 35%; margin: auto;">
            <input type="nickname" class="form-control" id="nickname" placeholder="nickname" name="nickname"
                   value="{{ user.nickname }}">
            <label for="nickname">별명</label>
        </div>
        <br>
        <div class="form-floating" style="width: 35%; margin: auto;">
            <input type="name" class="form-control" id="name" placeholder="name" name="name" value="{{ user.name }}">
            <label for="name">이름</label>
        </div>
        <br>
        <div class="form-floating" style="width: 35%; margin: auto;">
            <input type="email" class="form-control" id="email" placeholder="email" name="email"
                   value="{{ user.email }}">
            <label for="email">이메일</label>
        </div>
        <br>
        <div class="form-floating" style="width: 35%; margin: auto;">
            <input type="phone" class="form-control" id="phone" placeholder="phone" name="phone"
                   value="{{ user.phone }}">
            <label for="phone">전화번호</label>
        </div>
        <br>
        <button class="w-25 btn btn-lg btn-primary" type="submit" name="profile" value="profile">변경</button>
        <p class="mt-5 mb-3 text-muted">© 2022</p>
    </form>
</main>
</body>

{% endblock %}