{% extends 'base.html' %}

{% block content %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&amp;display=swap"
      rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='profile/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='profile/css/style.css') }}">

<!-- 내용 -->
<body id="page-top" style="static\i7.jpg">
<form name="paging">
    <input type="hidden" name="region"/>
    <input type="hidden" name="category"/>
</form>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}"><img src="static/img/navbar-logo.svg" alt="..."></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <svg class="svg-inline--fa fa-bars ms-1" aria-hidden="true" focusable="false" data-prefix="fas"
                 data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor"
                      d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z"></path>
            </svg><!-- <i class="fas fa-bars ms-1"></i> Font Awesome fontawesome.com -->
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                {% if g.nickname == None %}
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.profile') }}">< {{ g.nickname }}님 ></a>
                </li>
                {% endif %}
                <!-- <li class="nav-item"><a class="nav-link" href="#services">가격예측</a></li> -->
                <!-- <li class="nav-item"><a class="nav-link" href="{{ url_for('main.index') }}#team">Team</a></li> -->
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.index') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:goPage1('식량작물');">도매 가격정보</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:goPage2('서울','식량작물');">소매 가격정보</a></li>
                <div class="dropdown">
                    <li class="nav-item" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                        <a class="nav-link" href="">기타서비스</a></li>
                    <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                        {% if g.nickname == None %}
                        <li><a class="dropdown-item disabled" href="{{ url_for('main.profile') }}">내 정보</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{{ url_for('main.profile') }}">내 정보</a></li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="http://pf.kakao.com/_uyZhxj">챗봇</a></li>
                    </ul>
                </div>

                {% if g.nickname == None %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.login') }}">Login</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="untree_co-section">
    <div class="container">

        <div class="row mb-5">
            <div class="col-12 text-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="0">
                <span class="caption">profile</span>
                <h2 class="heading">내 정보</h2>
            </div>
        </div> <!-- /.row -->

        <div class="row">
            <div class="col-lg-6 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="service horizontal d-flex">
                    <div class="service-icon color-1 mb-4">
                        <svg class="bi bi-app-indicator" width="1em" height="1em" viewBox="0 0 16 16"
                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z"></path>
                            <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                        </svg>
                    </div> <!-- /.icon -->
                    <div class="service-contents">
                        <h3>아이디</h3>
                        <p>{{ user.userid }}</p>
                    </div> <!-- /.service-contents-->
                </div> <!-- /.service -->
            </div>

            <div class="col-lg-6 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="service horizontal d-flex">
                    <div class="service-icon color-1 mb-4">
                        <svg class="bi bi-app-indicator" width="1em" height="1em" viewBox="0 0 16 16"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z"></path>
                            <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                        </svg>
                    </div> <!-- /.icon -->
                    <div class="service-contents">
                        <h3>별명</h3>
                        <p>{{ user.nickname }}</p>
                    </div> <!-- /.service-contents-->
                </div> <!-- /.service -->
            </div>

            <div class="col-lg-6 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <div class="service horizontal d-flex">
                    <div class="service-icon color-2 mb-4">
                        <svg class="bi bi-briefcase" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M14.5 13.5h-13A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5zm-13 1A1.5 1.5 0 0 1 0 13V6a1.5 1.5 0 0 1 1.5-1.5h13A1.5 1.5 0 0 1 16 6v7a1.5 1.5 0 0 1-1.5 1.5h-13zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"></path>
                        </svg>
                    </div> <!-- /.icon -->
                    <div class="service-contents">
                        <h3>이름</h3>
                        <p>{{ user.name }}</p>
                    </div> <!-- /.service-contents-->
                </div> <!-- /.service -->
            </div>

            <div class="col-lg-6 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                <div class="service horizontal d-flex">
                    <div class="service-icon color-2 mb-4">
                        <svg class="bi bi-collection" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M14.5 13.5h-13A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5zm-13 1A1.5 1.5 0 0 1 0 13V6a1.5 1.5 0 0 1 1.5-1.5h13A1.5 1.5 0 0 1 16 6v7a1.5 1.5 0 0 1-1.5 1.5h-13zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"></path>
                        </svg>
                    </div> <!-- /.icon -->
                    <div class="service-contents">
                        <h3>이메일</h3>
                        <p>{{ user.email }}</p>
                    </div> <!-- /.service-contents-->
                </div> <!-- /.service -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="service horizontal d-flex">
                    <div class="service-icon color-3 mb-4">
                        <svg class="bi bi-app-indicator" width="1em" height="1em" viewBox="0 0 16 16"
                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M14.5 13.5h-13A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5zm-13 1A1.5 1.5 0 0 1 0 13V6a1.5 1.5 0 0 1 1.5-1.5h13A1.5 1.5 0 0 1 16 6v7a1.5 1.5 0 0 1-1.5 1.5h-13zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"></path>
                        </svg>
                    </div> <!-- /.icon -->
                    <div class="service-contents">
                        <h3>전화번호</h3>
                        {% if user.phone|length == 11 %}
                        <p>{{ user.phone[0:3] }}-{{ user.phone[3:7] }}-{{ user.phone[7:11] }}</p>
                        {% else %}
                        <p>{{ user.phone }}</p>
                        {% endif %}
                    </div> <!-- /.service-contents-->
                </div> <!-- /.service -->
            </div>

            <div class="col-lg-6 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="service horizontal d-flex">
                    <div class="service-icon color-3 mb-4">
                        <svg class="bi bi-arrow-repeat" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6h-1v6a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-6H0v6z"></path>
                            <path fill-rule="evenodd"
                                  d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v2.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 6.884V4.5zM1.5 4a.5.5 0 0 0-.5.5v1.616l6.871 1.832a.5.5 0 0 0 .258 0L15 6.116V4.5a.5.5 0 0 0-.5-.5h-13zM5 2.5A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z"></path>
                        </svg>
                    </div> <!-- /.icon -->

                    <div class="service-contents">
                        <h3>가입일시</h3>
                        <p>{{ user.start }}</p>
                    </div> <!-- /.service-contents-->
                </div> <!-- /.service -->
            </div>

            <div class="col-lg-6 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <div class="service horizontal d-flex">
                    <div class="service-icon color-4 mb-4">
                        <svg class="bi bi-briefcase" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z"></path>
                            <path fill-rule="evenodd"
                                  d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z"></path>
                        </svg>
                    </div> <!-- /.icon -->
                    <div class="service-contents">
                        <a class="read-more">회원정보 변경</a>
                    </div><!-- /.service-contents-->
                    <form class="service-contents" method="post" class="pt-5">
                        <input type="image" src="{{ url_for('static', filename='img/box-arrow-in-right.svg')}}"
                               name="profile" value="profile" alt="Submit" width="32" height="32">
                    </form>
                </div> <!-- /.service -->
            </div>
            <div class="col-lg-6 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="service horizontal d-flex">
                    <div class="service-icon color-4 mb-4">
                        <svg class="bi bi-arrow-repeat" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z"></path>
                            <path fill-rule="evenodd"
                                  d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z"></path>
                        </svg>
                    </div> <!-- /.icon -->
                    <div class="service-contents">
                        <a class="read-more">비밀번호 변경</a>
                    </div><!-- /.service-contents-->
                    <form class="service-contents" method="post" class="pt-5">
                        <input type="image" src="{{ url_for('static', filename='img/box-arrow-in-right.svg')}}"
                               name="userpw" value="userpw" alt="Submit" width="32" height="32">
                    </form>
                </div> <!-- /.service -->
            </div>

        </div>
    </div>

</div> <!-- /.container -->

{% endblock %}